.explain{
    margin-top: 2px;
    margin-bottom: 2px;
    text-align: center;
    font-size: 0.5px;
}

.main{
    border: 1px solid black;
}

.photo-library{
    display: flex;
    border: 2px solid aqua;
}

.monument{
    margin-left: 100px;
    margin-top: 10px;
}

.explain-2{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 100px;
    margin-right: auto;
    text-align: center;
}

.sub{
    border: 5px solid black;
}

.notebook{
    float: right;
    display: flex;
    margin-top: 20px;
    margin-right: 150px;
    border: 2px solid yellow;
}

.explain-3{
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 20px;
    margin-right: 100px;
    text-align: center;
}

.pimage{
    border: 2px solid yellow;
    margin-top: 5px;
    margin-right: 10px;
}

.pur{
    border: 2px solid pink;
}

.explain-4{
    margin-right: 50px;
}
