.header{
    display: flex;
    border: 2px solid brown;
    margin-bottom: 0px;
}
h1{
    font-size: 30px;
    color: aquamarine;
    font-family: "HG正楷書体-PRO";
    margin-top: auto;
    margin-bottom: auto;
    margin-left: 40px;
}
.subheader{
    display: flex;
    margin: 0 0 0 auto;
    border: 4px solid lightcoral;
}

.photo{
    margin-left: 40px;
}

.note{
    margin-left: 100px;
}

.SNS{
    margin-left: 100px;
    margin-right: 40px;
}